.m-btn {
  border-radius: 3px;
  height: 36px;
  min-width: 65px;
  color: #ffffff;
  padding: 0 24px;
  text-align: center;
  font-weight: normal;
  outline: unset;
  cursor: pointer;
  border: none;
}

.m-btn.m-btn-success {
  background-color: #2ca01c;
}

.m-btn.m-btn-success:hover {
  background-color: #35bf22;
}

.m-btn.m-btn-gray {
  color: #000;
  background-color: #fff;
  border: 1px solid #8d9096;
  padding: 6px 16px;
  min-width: 20px;
}

.m-btn.m-btn-gray:hover {
  background-color: #d2d3d6;
}

.m-btn.m-btn-icon {
  padding: 0 16px;
}

.m-btn.m-btn-icon .icon {
  margin-right: 8px;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.m-btn.m-second-btn {
  min-width: 40px;
  background-color: #fff;
  color: #000000;
  border: 1px #e9ebee solid;
}

.m-second-btn:hover {
  background-color: #e9ebee;
}

.m-btn-icon-2 button {
  border-radius: 0;
  float: left;
}

.m-btn-danger {
  background-color: #f65454;
}
.m-btn-secondary {
  background-color: #e9ebee;
  color: #000000;
}
.m-btn-secondary:hover {
  background-color: #bbbbbb;
}

.m-btn:active,
.m-btn-icon:active,
.m-second-btn:active {
  background-color: #01b075;
  color: #ffffff;
}
.m-btn-secondary:active {
  background-color: #e9ebee;
  color: #000000;
}
.m-btn-danger:hover {
  background-color: #ffebeb;
  color: #000000;
}

.m-btn-edit {
  cursor: pointer;
  color: #0075c0;
  font-weight: 700;
  padding: 6px 10px 6px 16px;
}
