.m-table {
  border-spacing: unset;
  border: unset;
  border-collapse: collapse;
  width: 100%;
}
.m-table thead tr th {
  position: sticky;
  top: 0;
  background-color: #eceef1;
}

.m-table tr {
  height: 44px;
  border-bottom: 1px solid #ddd;
}

.m-table tbody tr:hover {
  background-color: #f3f8f8;
}
.m-table td, th {
  padding:  10px;
  border-bottom: 1px solid #c7c7c7;
  border-right: 1px dotted #c7c7c7;
  white-space: pre-wrap;
}