
/* CONTENT */
.content {
  height: calc(100vh - 48px);
  box-sizing: border-box;
  padding-left: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #f4f5f8;
}
.content::-webkit-scrollbar-thumb {
  background: #b8bcc3;
}
.content::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}
.content-header {
  margin: 24px 30px 11px 0;
}
.content-title {
  font-size: 24px;
  font-weight: 700;
}
.main-header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 16px;
}
.content-main{
  flex: 1;
  position: relative;
  background-color: #fff;
  margin-right: 30px;
}
.btn-refresh {
  margin: 0 10px;
}
.content-table{
  padding: 0 20px;
}
.content-footer{
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding: 20px;
  margin-right: 30px;
}
.content-footer .option{
  flex: 1;
}
  
  