/*-- NAVBAR --*/
.navbar {
  width: 180px;
  background-color: #38393d;
  border-right: 1px #bbbbbb solid;
}

/* Logo */
.logo-container {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-icon {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  background: url("../../content/img/Sprites.64af8f61.svg") no-repeat -424px -86px;
}
.logo {
  height: 32px;
}
.logo > img {
  height: 32px;
  width: auto;
}

/* Menu */
.menu-item-list {
  height: calc(100vh - 48px);
  padding-top: 14px;
  overflow: auto;
}
.menu-item-list::-webkit-scrollbar-thumb {
  background: #b8bcc3;
}
.menu-item-list::-webkit-scrollbar {
  width: 5px;
  background-color: #f1f1f1;
}
.menu-item{
  height: 42px;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 14px 0 8px;
  border-left: 6px solid transparent;
}
.menu-item:hover {
  background: rgb(235, 237, 240, 0.2);
}
.menu-item-icon {
  margin-right: 8px;
}